<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" *ngIf="productForm">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!productForm.valid"
          >
            Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="productName"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="brand">Brand</label>
            <input
              type="text"
              id="brand"
              formControlName="productBrand"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="url">Image URL</label>
            <input
              type="text"
              id="url"
              formControlName="url"
              class="form-control"
              #imagePath
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath" class="img-responsive" alt="image url"/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              formControlName="productDescription"
              rows="6"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="nutrition">Nutrition Facts</label>
            <textarea
              type="text"
              id="nutrition"
              class="form-control"
              formControlName="nutritionFacts"
              rows="3"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="supplierID">Supplier ID</label>
            <input
              type="text"
              id="supplierID"
              class="form-control"
              formControlName="supplierId"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="price">Price</label>
            <input
              type="text"
              id="price"
              formControlName="unitCost"
              class="form-control"
              placeholder="2.99"
            />
          </div>
          <div class="form-group">
            <label for="type">Type</label>
            <input
              type="text"
              id="type"
              formControlName="unitType"
              class="form-control"
              placeholder="kg"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-offset-8">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!productForm.valid"
          >
            Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <br><br><br><br>
    </form>
  </div>
</div>
