<div class="row">
  <div class="col-xs-12">
    <img
      [src]="product.imagePath"
      alt="{{ product.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ product.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Product <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
<!--        <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>-->
        <li><a style="cursor: pointer;" (click)="onEditProduct()">Edit Product</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteProduct()">Delete Product</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ product.description }}
  </div>
</div>
