<div class="row" style="margin-top: 2vh">
  <div class="col-md-5">
    <div class="button-flex-container">
      <button mat-raised-button
              color="accent"
              (mouseenter)="onChangeShop(true)"
              *ngIf="shopId && !isChangeShop"
              style="width: 50%">
        You are in Shop #{{shopId}}
      </button>
      <button mat-raised-button color="warn"
              (click)="onResetShop()"
              (mouseleave)="onChangeShop(false)"
              *ngIf="isChangeShop"
              style="width: 50%">
        Change
      </button>
      <button
          mat-raised-button
          class="btn-success"
          type="button"
          (click)="onNewProduct()"
          style="width: 45%">
        Add Product
      </button>
    </div>
    <app-product-list></app-product-list>
  </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
  </div>
</div>
