<div
    class="list-group-item">
  <a
      style="cursor: pointer;"
      [routerLink]="[index]"
      routerLinkActive="active"
      class="list-group-item list-inline clearfix">

    <div class="pull-left">
      <h4>{{ product.productName }}</h4>
      <small class="text-muted">{{ product.productBrand }}</small>
      <p>
        {{ product.unitCost}}€{{product.unitType !== '' ? '/' + product.unitType : ''}}
      </p>
      <small class="text-muted" *ngIf="product.quantity > 5"> Available </small>
      <h4 class="text-warning" *ngIf="product.quantity > 0 && product.quantity <= 5">
        {{ product.quantity }} left!
      </h4>
      <small class="text-danger" *ngIf="!(product.quantity > 0)"> Out of stock! </small>
    </div>
    <span class="pull-right">
      <img
        [src]="(product.url ? product.url : 'http://placeimg.com/640/480')"
        alt="{{ product.productName }}"
        class="img-responsive"
        style="max-height: 100px;" />
    </span>
  </a>
  <input type="text" [(ngModel)]="quantity" />
  <button
    class="btn btn-success"
    (click)="onAddToCart()"
    [disabled]="product.quantity < quantity">
    Add To Cart</button>
</div>
