<mat-card class="product-card-header">
  <mat-card-header [routerLink]="[index]" matBadge="{{cartItem ? cartItem.quantity : ''}}" matBadgeSize="large">
    <mat-card-title>{{product.productName}}</mat-card-title>
    <mat-card-subtitle>{{product.productBrand}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content [routerLink]="[index]">
    <span style="font-size: 32px">{{ product.unitCost}}€</span>
    <span style="font-size: 18px">{{product.unitType !== '' ? '/' + product.unitType : ''}}</span>

    <div *ngIf="product.quantity">
      <h4 class="text-warning" *ngIf="product.quantity > 0 && product.quantity <= 5">
        {{ product.quantity }} left!
      </h4>
    </div>
    <div>
      <small class="text-danger" *ngIf="!product.quantity || product.quantity < 1"> Out of stock! </small>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="product-card-image">
  <mat-card-content>
    <img mat-card-image [src]="(product.url ? product.url : 'http://placeimg.com/640/480')"
         alt="{{ product.productName }}" class="img-responsive" style="margin: auto">
  </mat-card-content>
</mat-card>
<mat-card class="product-card-shop">
  <mat-card-content class="text-center">
    <mat-form-field style="width: 80%" appearance="legacy">
      <mat-label>Quantity</mat-label>
      <input matInput type="number" [(ngModel)]="quantity"/>
    </mat-form-field>
    <button
      class="text-center"
      style="width: 80%"
      mat-raised-button
      color="{{!product.quantity ? 'warn' : 'primary'}}"
      (click)="onAddToCart()"
      type="button"
      [disabled]="!product.quantity ||
       product.quantity < (quantity + (cartItem ? cartItem.quantity : 0)) ||
        quantity < 1">
      {{!product.quantity ? 'Out of stock' : 'Add To Cart'}}
    </button>
  </mat-card-content>
</mat-card>
