#floating-panel {
  position: absolute;
  top: 105px;
  left: 40%;
  z-index: 5;
  background-color: transparent;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 20px;
  padding: 5px 5px 5px 10px;
}

#searchbar {
  width: 100%;
  margin: 10px 0 0 0;
}
