<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div>
        <h2 class="text-center">Admin Area</h2>
      </div>
      <hr>
      <div *ngIf="isLoading" style="text-align: center;">
        <mat-spinner></mat-spinner>
      </div>
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>E-Mail</mat-label>
          <mat-icon matPrefix>alternate_email</mat-icon>
          <input
            matInput
            type="email"
            placeholder="email@example.com"
            ngModel
            name="email"
            required
            #email="ngModel"
          />
          <mat-hint>*Required</mat-hint>
          <mat-error>Email is invalid</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Password</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            ngModel
            name="password"
            required
            minlength="6"
          />
          <mat-hint>*Required</mat-hint>
          <mat-error>Password min. 6 characters</mat-error>
          <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
            <mat-icon>
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </button>
        </mat-form-field>
        <hr>
        <div class="text-center">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!authForm.valid"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

