<div class="container-fluid">
  <mat-card *ngIf="!accountInfo && !isLoading" style="margin-top: 5vh">
    <mat-card-content class="alert alert-danger text-center">
      <span class="mat-display-1">An error occurred while processing data. Re-try again please.</span>
    </mat-card-content>
  </mat-card>

  <mat-spinner class="text-center" *ngIf="isLoading"></mat-spinner>

</div>

<div class="container-fluid" *ngIf="accountInfo && !isLoading">
  <app-admin-info *ngIf="isAdmin" [admin]="accountInfo"></app-admin-info>
  <app-client-info *ngIf="!isAdmin" [user]="accountInfo"></app-client-info>
</div>
