<div class="row">
  <div class="col-xs-12">
    <img
      [src]="(product.url ? product.url : 'http://placeimg.com/640/480')"
      alt="{{ product.productName }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row list-group-item">
  <div class="col-xs-8">
    <h1>{{ product.productName }}</h1>
  </div>
  <div class="col-xs-4">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Product <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <!--        <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>-->
        <li><a style="cursor: pointer;" (click)="onEditProduct()">Edit Product</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteProduct()">Delete Product</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-3">
    <h4 class="text-center">Brand: {{ product.productBrand }}</h4>
  </div>
  <div class="col-xs-5 text-center" *ngIf="product.quantity > 0">
    In stock: <span style="font-size: 20px"> {{product.quantity}} </span>
  </div>
  <div class="col-xs-5 text-center" style="background-color: darkred; color: navajowhite" *ngIf="!(product.quantity > 0)">
    <h4>Out of stock!</h4>
  </div>
  <div class="col-xs-4">
    <!-- TODO: Add the +10 -10 buttons -->
    <button
      class="btn btn-danger"
      type="button"
      [disabled]="!product.quantity || product.quantity < 1"
      style="font-size:16px; margin: 1px; width: 40%"
      (click)="onDecrementQuantity()">-</button>
    <button
      class="btn btn-success"
      type="button"
      style="font-size:16px; margin: 1px; width: 40%"
      (click)="onIncrementQuantity()">+</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-4">
    <h4>Description</h4>
  </div>
  <div class="col-xs-8">
    {{ product.productDescription }}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-4">
    Nutrition Facts
  </div>
  <div class="col-xs-8">
    {{ product.nutritionFacts}}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-4">
    Supplier ID
  </div>
  <div class="col-xs-8">
    {{ product.supplierId}}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-4">
    Supermarket Name
  </div>
  <div class="col-xs-8">
    {{ product.supermarketName.charAt(0).toUpperCase() + product.supermarketName.substr(1)}}
  </div>
</div>
<br><br>
