<mat-card class="order-card-bg" style="height: 50vh">
  <mat-card>
    <span class="mat-display-1">Your User Account</span>
  </mat-card>
  <mat-card class="account-card">
    <mat-card-title class="text-center">GENERAL INFORMATION</mat-card-title>
    <mat-card-content>
      <table class="table table-responsive mat-subheading-1">
        <tr>
          <td><strong>First Name</strong></td>
          <td>{{user.firstName}}</td>
        </tr>
        <tr>
          <td><strong>Last Name</strong></td>
          <td>{{user.lastName}}</td>
        </tr>
        <tr>
          <td><strong>Email</strong></td>
          <td>
            {{user.email}}
            <button mat-icon-button *ngIf="user.enabled" matTooltip="User verified">
              <mat-icon class="text-success">verified</mat-icon>
            </button>
            <button mat-icon-button *ngIf="!user.enabled" matTooltip="Email has not been confirmed yet">
              <mat-icon class="text-warning">pending</mat-icon>
            </button>
          </td>
        </tr>
        <tr>
          <td><strong>Locked</strong></td>
          <td>{{user.locked}}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card class="account-card">
    <mat-card-title class="text-center">DELIVERY INFORMATION</mat-card-title><br>
    <mat-card-content>
      <table class="table table-responsive mat-subheading-1">
        <tr>
          <td><strong>City</strong></td>
          <td>{{user.city}}</td>
        </tr>
        <tr>
          <td><strong>Address</strong></td>
          <td>{{user.address}}</td>
        </tr>
        <tr>
          <td><strong>CAP</strong></td>
          <td>{{user.cap}}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</mat-card>
