<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <a
        class="btn btn-primary"
        routerLink="/catalogue"
        type="button">
        <
      </a>
    </div>
    <div class="col-xs-10">
      <img
        [src]="(product.url ? product.url : 'http://placeimg.com/640/480')"
        alt="{{ product.productName }}"
        class="img-responsive"
        style="max-height: 300px;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-popup
        [message]="error"
        [type]="'error'"
        (close)="onClearError()"
        *ngIf="error">
      </app-popup>
      <app-popup
        [message]="warning"
        [type]="'warning'"
        (close)="onClearWarning()"
        *ngIf="warning">
      </app-popup>
      <app-popup
        [message]="info"
        [type]="'info'"
        (close)="onClearInfo()"
        *ngIf="info">
      </app-popup>
    </div>
  </div>
  <div class="row list-group-item">
    <div class="col-xs-8">
      <h1>{{ product.productName }}</h1>
    </div>
    <div class="col-xs-4">
      <h4 *ngIf="cartItem && cartItem.quantity > 0">You have {{cartItem.quantity}} of this item!</h4>
      <input type="number" [(ngModel)]="quantity" />
      <button
        class="btn {{!product.quantity ? 'btn-danger' : 'btn-success'}}"
        (click)="onAddToCart()"
        [disabled]="!product.quantity || product.quantity < (quantity + (cartItem ? cartItem.quantity : 0)) || quantity < 1">
        {{!product.quantity ? 'Out of stock' : 'Add To Cart'}}
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <h4 class="text-center">Brand: {{ product.productBrand }}</h4>
    </div>
    <div *ngIf="product.quantity">
      <div class="col-xs-7 text-center" *ngIf="product.quantity > 5">
        <span style="font-size: 20px"> Available </span>
      </div>
      <div class="col-xs-7 text-center bg-warning" *ngIf="product.quantity > 0 && product.quantity <= 5">
        <span style="font-size: 20px"> {{ product.quantity }} left!</span>
      </div>
    </div>
    <div class="col-xs-7 text-center bg-danger" *ngIf="!product.quantity || product.quantity < 1">
      <h4>Out of stock!</h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-4">
      <h4>Description</h4>
    </div>
    <div class="col-xs-8">
      {{ product.productDescription }}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-4">
      Nutrition Facts
    </div>
    <div class="col-xs-8">
      {{ product.nutritionFacts}}
    </div>
  </div>
  <br><br>
</div>
