<div class="row">
  <div class="col-xs-12">
    <h3> Your Shopping Cart </h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <h3>Total: {{cartTotal}}€</h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <h4 *ngIf="cartItems.length === 0">
          Wow! Such empty! Add some products from the catalogue!
      </h4>
      <app-cart-preview-item
        class="list-group-item"
        *ngFor="let cartItem of cartItems"
        [cartItem]="cartItem"
        [product]="findProduct(cartItem)">
      </app-cart-preview-item>
    </ul>
  </div>
</div>
