<app-alert *ngIf="deleteMessage"
           (close)="cancelDelete()"
           (success)="onDeleteCartItem()"
           [message]="deleteMessage">
</app-alert>

<app-popup
  [message]="error"
  [type]="'error'"
  (close)="onClearError()"
  *ngIf="error">
</app-popup>
<app-popup
  [message]="warning"
  [type]="'warning'"
  (close)="onClearWarning()"
  *ngIf="warning">
</app-popup>
<button
  class="btn btn-danger"
  type="button"
  [disabled]="!cartItem.quantity || cartItem.quantity < 1"
  style="font-size:16px; margin: 1px; width: 15%"
  (click)="onDecrementQuantity(10)">-10</button>
<button
  class="btn btn-danger"
  type="button"
  [disabled]="!cartItem.quantity || cartItem.quantity < 1"
  style="font-size:16px; margin: 1px; width: 15%"
  (click)="onDecrementQuantity(1)">-1</button>
<button
  class="btn btn-success"
  type="button"
  style="font-size:16px; margin: 1px; width: 15%"
  (click)="onIncrementQuantity(1)">+1</button>
<button
  class="btn btn-success"
  type="button"
  style="font-size:16px; margin: 1px; width: 15%"
  (click)="onIncrementQuantity(10)">+10</button>
<button
  class="btn btn-danger"
  style="font-size:16px; margin: 1px; width: 15%"
  (click)="tryDeleteCartItem()">
  X
</button>
<a
  class="list-group-item"
  style="cursor: pointer">
  {{ cartItem.productName }} [{{cartItem.productBrand}}]
  |
  <span style="font-size: 20px">{{ cartItem.quantity }}</span>{{ product ? '* ' + product.unitCost + '€' : '' }}
  <span class="badge" *ngIf="product">
    {{product.unitCost*cartItem.quantity | number: '1.2'}}€
  </span>
</a>

