<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="row">
        <button
          type="button"
          class="btn btn-lg btn-info"
          (click)="getShops()">
          Reload
        </button>
        <button
          class="btn btn-lg btn-success"
          type="submit"
          [disabled]="!chosenShop"
          (click)="onChooseShop()">
          Continue
        </button>
      </div>
      <h3> Select a shop to edit! </h3>
    </div>
    <div class="col-xs-8">
      <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <div *ngIf="!isLoading && (shops === [])">
        No shops found
      </div>
      <!-- TODO: Showing position in google maps for each shop through shop.position -->
      <button
        class="btn {{shop === chosenShop ? 'btn-primary' : 'btn-default'}} btn-group-justified"
        type="button"
        id="{{shop.shopId}}"
        style="margin: 15px; font-size: large"
        *ngFor="let shop of shops"
        (click)="onSelect(shop)">
        SHOP: {{shop.shopId}}
      </button>
    </div>
  </div>
</div>
