
<div class="list-group" *ngIf="products.length > 0">
  <div class="row">
    <div class="col-xs-12" *ngIf="hasOutOfStock()">
      <h2 class="text-danger">There are items missing. Contact the supplier to restore them</h2>
    </div>
    <div class="col-xs-12 alert alert-info" *ngIf="!hasOutOfStock()">
      <h2 class="text-success">There are no items out of stock. Keep checking though!</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 text-center">
      <small><b>IMAGE</b></small>
    </div>
    <div class="col-xs-4 text-center">
      <small><b>PRODUCT NAME</b></small>
    </div>
    <div class="col-xs-2 text-center">
      <small><b>PRODUCT BRAND</b></small>
    </div>
    <div class="col-xs-2 text-center">
      <small><b>QUANTITY</b></small>
    </div>
    <div class="col-xs-2 text-center">
      <small><b>SUPPLIER ID</b></small>
    </div>
  </div>
  <div *ngFor="let product of products; let i = index">
    <div class="row list-group-item" *ngIf="!product.quantity || product.quantity < 1">
      <div class="col-xs-2 text-center">
        <img [src]="product.url"
             alt="{{ product.productName }}"
             class="img-responsive"
             style="max-height: 100px;"/>
      </div>
      <div class="col-xs-4 text-center">
        <h2>{{product.productName}}</h2>
      </div>
      <div class="col-xs-2 text-center">
        <h3>{{product.productBrand}}</h3>
      </div>
      <div class="col-xs-2 text-center">
        <h3 class="alert text-danger bg-danger">{{product.quantity ? product.quantity : 0}}</h3>
      </div>
      <div class="col-xs-2 text-center">
        <h3>{{product.supplierId}}</h3>
        <button class="btn btn-info"
                type="button"
                (click)="onContactSupplier(i, product)">Contact</button>
      </div>
    </div>
    <div class="row list-group-item" *ngIf="product.quantity && product.quantity < 5 && product.quantity > 0">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-2 text-center">
            <img [src]="product.url"
                 alt="{{ product.productName }}"
                 class="img-responsive"
                 style="max-height: 100px;"/>
          </div>
          <div class="col-xs-4 text-center">
            <h2>{{product.productName}}</h2>
          </div>
          <div class="col-xs-2 text-center">
            <h3>{{product.productBrand}}</h3>
          </div>
          <div class="col-xs-2 text-center">
            <h3 class="alert bg-warning text-warning">{{product.quantity}}</h3>
          </div>
          <div class="col-xs-2 text-center">
            <div class="row">
              <h3>{{product.supplierId}}</h3>
            </div>
            <div class="row" style="margin: 0;">
              <button class="btn btn-info"
                      type="button"
                      (click)="onContactSupplier(i, product)">Contact</button>
            </div>
          </div>
        </div>
        <div class="row">
          <h4 class="text-center alert alert-warning text-warning"  style="margin: 5px 0 0 0;">This item is going to miss soon. Contact the supplier.</h4>
        </div>
      </div>
    </div>
  </div>

</div>
