<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-popup
        [message]="error"
        [type]="'error'"
        (close)="onClearError()"
        *ngIf="error">
      </app-popup>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="container" *ngIf="user && user.role !== 'ADMIN'">
        <div class="row">
          <div class="col-xs-6" *ngIf="user.role !== 'USER'">
            <h3>Hi Guest, you can take a look as much as you want!</h3>
          </div>
          <div class="col-xs-6" *ngIf="accountInfo && user.role === 'USER'">
            <h3>Hi {{accountInfo.firstName}}, have a good shopping!</h3>
          </div>
          <div class="col-xs-6">
            <h4>
              You have chosen: {{supermarket.name | titlecase}}
              |
              <a
              (click)="onResetSupermarket()"
              style="cursor: pointer">{{supermarket ? 'Change' : 'Choose a supermarket!'}}</a>
            </h4>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
