<div class="container">
  <button
    class="btn {{supermarket === chosenMarket ? 'btn-primary' : 'btn-default'}} btn-group-justified"
    type="button"
    id="{{supermarket.id}}"
    style="margin: 15px; font-size: large"
    *ngFor="let supermarket of supermarkets"
    (click)="onSelect(supermarket)">
    {{supermarket.supermarketName}}
  </button>
  <div class="center-block">
    <button
      class="btn btn-success"
      type="submit"
      [disabled]="!chosenMarket"
      (click)="onChooseSupermarket()">
      Continue
    </button>
  </div>
</div>
