<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-warning" *ngIf="warning">
      <button class="btn btn-default pull-right popup" (click)="onClearWarning()">X</button>
      <p class="text-warning text-center">{{ warning }}</p>
    </div>
    <div class="alert alert-danger" *ngIf="error">
      <button class="btn btn-default pull-right popup" (click)="onClearError()">X</button>
      <p class="text-danger text-center">{{ error }}</p>
    </div>
    <div class="alert alert-info" *ngIf="info">
      <button class="btn btn-default pull-right popup" (click)="onClearInfo()">X</button>
      <p class="text-info text-center">{{ info }}</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-8" routerLink="/orders">
    <h1 class="text-center">
      <span class="badge">{{order.supermarket | uppercase}}</span>
      <span class="pull-left"><button><</button></span>
      Order # {{orderId}}
    </h1>
    <hr>
  </div>
  <div class="col-xs-4">
    <h2 class="text-center">Total: {{orderTotal | number: '1.0-2'}}€</h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-5 text-center">
    <h3>Delivery Info</h3>
    <hr>
  </div>
  <div class="col-xs-5 text-center">
    <h3>Payment</h3>
    <hr>
  </div>
  <div class="col-xs-2 text-center">
    <h3>
      <span class="glyphicon glyphicon-minus-sign text-warning" *ngIf="!order.confirmed"></span>
      <span [class.text-success]="order.confirmed"
            [class.text-warning]="!order.confirmed">
        {{order.confirmed ? 'Confirmed' : 'Pending' }}
      </span>
      <span class="glyphicon glyphicon-ok-sign text-success" *ngIf="order.confirmed"></span>
    </h3>
  </div>
</div>

<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>

<div class="row" *ngIf="!updateMode">
  <div class="col-xs-5 text-center" *ngIf="delivery">
    <h4>{{delivery.address}} <br> {{delivery.date | date:'HH:mm | EEEE, d MMMM, y'}}</h4>
  </div>
  <div class="col-xs-5 text-center" *ngIf="!delivery">
    <h4 class="text-danger">Delivery Address & Date not set!</h4>
  </div>
  <div class="col-xs-5 text-center" *ngIf="delivery">
    <h4>{{delivery.payment | uppercase}}</h4>
  </div>
  <div class="col-xs-5 text-center" *ngIf="!delivery">
    <h4 class="text-danger">Payment method not set!</h4>
  </div>
  <div class="col-xs-2">
    <button
      class="btn btn-primary"
      type="button"
      (click)="onUpdate()"
      *ngIf="!order.confirmed">
      Change
    </button>
  </div>
</div>
<form [formGroup]="deliveryForm" (ngSubmit)="onConfirm()" *ngIf="updateMode && deliveryForm">
  <div class="row">
    <div class="col-xs-5">
      <div class="form-group">
        <label for="address">Address</label>
        <input
          type="text"
          id="address"
          class="form-control"
          formControlName="address"
        />
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        <input
          type="datetime-local"
          id="date"
          class="form-control"
          formControlName="date"
        />
      </div>
    </div>
    <div class="col-xs-5">
      <div class="form-group">
        <label for="payment">Payment</label>
        <select
          class="form-control"
          id="payment"
          formControlName="payment">
          <option value="cash">Cash</option>
          <option value="mastercard">MasterCard</option>
          <option value="debitcard">Debit Card</option>
          <option value="paypal">PayPal</option>
          <option value="bitcoin">Bitcoin</option>
        </select>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="row">
        <button
          class="btn btn-danger"
          type="button"
          (click)="onCancelUpdate()">
          Cancel
        </button>
      </div>
      <div class="row">
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="!deliveryForm.valid || isTheSame()">
          Done
        </button>
      </div>
    </div>
  </div>
</form>
<hr>
<div class="list-group">
  <div class="row">
    <div class="col-xs-4 text-center">
      <b>ITEM</b>
    </div>
    <div class="col-xs-8">
      <div class="col-xs-4 text-center">
        <small><b>AMOUNT</b></small>
      </div>
      <div class="col-xs-4 text-center">
        <small><b>UNIT COST</b></small>
      </div>
      <div class="col-xs-4 text-center">
        <small><b>SUBTOTAL</b></small>
      </div>
    </div>
  </div>
  <div class="list-group-item" *ngFor="let orderEl of orderedProducts">
    <app-order-detail-product
      [order]="orderEl"
      [product]="findProduct(orderEl)"></app-order-detail-product>
  </div>
</div>

<br><br>
